@media (min-width: 1699.98px) {

}

@media (max-width: 1599.98px) {

}

@media (max-width: 1499.98px) {

}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {


}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    body {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .control-panel {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .preview-panel {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

}

@media (max-width: 675.98px) {

}

@media (max-width: 575.98px) {

}

